<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about-content">
    <h2>About Us</h2>
    <p>Welcome to Ink and Ideas! We are thrilled to have you here and appreciate your interest in getting to know us better. Let us take a moment to introduce ourselves and share our passion for blogging. </p>

    <p>At Ink and Ideas, we believe that words have the power to inspire, educate, and connect people from all walks of life. Our mission is to create a platform where individuals like you can express your thoughts, share your experiences, and engage in meaningful discussions. </p>
    
    <p>As we embark on this blogging adventure, we are constantly evolving and improving our platform to meet the needs and desires of our community. We will value your feedback and suggestions, as they play a crucial role in shaping the future of Ink and Ideas. </p>
    
    <p>Thank you for being a part of our journey. Together, let's create a vibrant and thriving blogging community that celebrates the power of words and fosters meaningful connections. Happy blogging! </p>
    
    <p>Sincerely,<br>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
